<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
    <a href="{%url 'signout'%}">logout</a>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                {%if messages%}
                    {%for m in messages%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{m}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>

                    {%endfor%}
                {%endif%}
            </div>
            <div class="col-4"></div>
        </div>
    </div>
   
    <h1 class="text-center fw-bolder mt-5 text-primary">ExpenseTracker</h1>
    <div style="width: 100%; height: 200px;" class="d-flex justify-content-evenly">
        <canvas id="categoryChart" width="200" height="200" ></canvas>
    </div>


          

            <div class=".container d-flex justify-content-center ">
                {%for tp in type_total%}
                <div class="border  p-3 shadow ms-3">
                <h2>Total {{tp.type}}</h2>
                <h3>{{tp.type_sum}}</h3>
                </div>

                {%endfor%}
                
            </div>

           

    <div class="container">
        <div class="row mt-5">
            <div class="col-3">                
            </div>
            <div class="col-6">
                <h3 class="fw-bold">History</h3>
                <a href="{%url 'transaction-add'%}"><i class="fa-solid fa-plus" style="color: #e61919;"></i></a>

                <div class="text-center fw-bolder"> {{request.user}}</div> 
               {%for t in data%}

               <div class="card mb-2">
                <div class="card-body">
                   <div class="row">
                    <div class="col-2"> </div>
                    <div class="col-6 d-flex justify-content-center">
                        {{t.title}}
                        {{t.category}}
                        {{t.amount}}
                    </div>
                    <div class="col-4 d-flex justify-content-evenly">
                            <a href="{%url 'transaction-detail' t.id%}" class=""><i class="fa-regular fa-eye fa-1x" style="color: aqua;"></i></a>
                            <a href="{%url 'transaction-update' t.id %}"><i class="fa-solid fa-pen-to-square fa-1x" style="color: yellowgreen;"></i></a>
                            <a href="{%url 'transaction-detail' t.id%}"><i class="fa-solid fa-trash fa-1x" style="color: rgb(205, 128, 50);"></i></a>
                    </div>
                   </div> 
                   
                </div>
              </div>
               {%endfor%}
                  
            </div>
            <!-- <div class=".container d-flex justify-content-center">
                {%for ct in cat_total%}

                <div class="border shadow ms-3 p-3" >
                    <h3>{{ct.category}}</h3>
                    <h4>{{ct.cat_sum}}</h4>

                </div>

                {%endfor%}
            </div> -->
        </div>

    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('categoryChart').getContext('2d');
    var categoryChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for category in cat_total %}"{{ category.category }}",{% endfor %}],
            datasets: [{
                label: 'Category Totals',
                data: [{% for category in cat_total %}{{ category.cat_sum }},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            animation: {
                duration: 2000,
                easing: 'easeInOutQuart'
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    </script>
</html>