
{%extends 'base.html'%}

{%block title_block%}
<title>transaction details</title>
{%endblock%}

{%block main_block%}
<div class="container text-center">
  <div class="card" style="width: 18rem;">
      <div class="card-header">
        {{data.name}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">name:{{data.title|upper}}</li>
        <li class="list-group-item">amount:{{data.amount}}</li>
        <li class="list-group-item">type:{{data.type}}</li>
        <li class="list-group-item">category:{{data.category}}</li>
        <li class="list-group-item">date:{{data.created_date|date}}</li>
      </ul>
    </div>
</div>

{%endblock%}